<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer`s portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Портфолио разработчика</h1>
    <h2>Добавляйте сюда свои новые проекты!</h2>
    <form id="projectForm">
        <div>
            <input type="text" name="title" id="title" placeholder="Название" style="width: 300px;">
        </div>
        <div>
            <input type="https://github.com/" name="link" id="link" placeholder="Ссылка на репозиторий в Github" style="width: 300px;">
        </div>
    <button type="submit">✅</button>
    <h3>Список проектов:</h3>
    </form>

    <ul id="projectList"></ul>

    <script src="{{ url_for('static', filename='update.js') }}"></script>
</body>
</html>